
article img{
    width: 200px;

    @media (min-width:768px){
        width: 180px;
        border-radius: 100%;
        box-shadow: 10px 10px 22px -10px rgba(0,0,0,0.75);
        background-color:  #8B3198;
    }
}


.articleDisplay{
    display: none;

    @media (min-width:768px){
        display: block;
    }
}

.circleTitle{
    display: none;

    @media (min-width:768px){
        display: block;
        color: white;
        font-family: $font-main;
        font-size: 18px;
        text-align: center;
        margin-top: 15px;
    }
}