.landing{
  flex: 1;
  height: 83vh;
  background: linear-gradient($color-complementary, $color-main);
  padding: 20px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  &_desc{
    @media (min-width:768px){
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5%;
  
    }
    @media (min-width:1200px){
      gap: 20%;
    }

    &-circle{
      @media (min-width:768px){
        display: none;
    }
  }
}

  &_title{
    font-family: $font-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & h1{
      color: white;
      font-size: 30px;
      line-height: 40px;
      text-align: center;

      @media (min-width:768px){
        font-size: 40px;
        line-height: 50px;
      }
      @media (min-width:1200px){
        font-size: 60px;
        line-height: 70px;
      }
    }

    & h2{
      color: $color-secondary;
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
      text-align: center;

      @media (min-width:768px){
        font-size: 20px;
        line-height: 40px;
      }
      @media (min-width:1200px){
        font-size: 25px;
        line-height: 60px;
      }
    }
  }

  &_button{
    margin-top: 3rem;

    @media (min-width:1200px){
      margin-top: 6rem;
    }

    & a{
      color: white;
      font-family: $font-main;
      font-size: 16px;
      font-style: italic;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      border: 5px solid rgba($color: white, $alpha: 0.6);
      border-radius: 3px;
      padding: 15px 25px;
      background-color: $color-complementary;

      &:hover{
        border: 5px solid rgba(white, $alpha: 1);
        cursor: pointer;
        transition: border 0.3s ease;
      }
    }
  }
}
