.fontOp0{
    font-family: "Source Code Pro", monospace;
    color: red
}
.fontOp1{
    font-family: "JetBrains Mono", serif;
    color: blue;
}
.fontOp2{
    font-family: "Fira Code", serif;
    color: green;
}
.fontOp3{
    font-family: "Open Sans", serif;
    color: yellow;
}