.fontOp0{
    font-family: "Source Code Pro", monospace;
}
.fontOp1{
    font-family: "JetBrains Mono", serif;
}
.fontOp2{
    font-family: "Fira Code", serif;
}
.fontOp3{
    font-family: "Open Sans", serif;
}