.footer {
  background-color: $color-secondary;
  color: white;
  font-family: $font-main;

  // @media
}
 
.text-footer{
  margin-top: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: center;

  //media
}

.footer-copy{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 20px;

  //media
}
