.header{
  background-color: $color-complementary;
  font-family: $font-main;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
}

/*estilo logo*/
.logo-adalaber{
  width: 25px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 1200px){
  .logo-adalaber{
    width: 40px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/*estilo para el menu hamburguesa*/
.menu-hamburger{
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: flex-end;
}

.icon-hamburger{
  width: auto;
  height: 25px;
  cursor: pointer;
}

/*ocultar el menu completo*/
.menu{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.collapsed{
  display: none;
}

.menu li{
  display: block; 
  text-decoration: none;
  list-style: none;
  color: white;
  margin: 0 10px;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}

/*pantallas*/
@media (min-width: 768px){
  .menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .menu li{
    display: inline;
    font-size: 20px;
    text-align: right;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .menu li a{
    text-decoration: none;
    color: white;
  }

  .menu-hamburger{
    display: none; 
  }

  .menu li a:hover{
    text-decoration: underline;
    color: #8B3198;
  }
}