//feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3 mx-3 icon-square

.result-main {

    @media (min-width : 768px) {
        display: flex;
        align-items: center; 
        height: 100vh;
    }
    
}

.icon-square {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.75rem;
    background-color: $color-main;
    color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);


    &:hover {
        background-color: $color-secondary;
        color: white;
        cursor: pointer;
    }
}

.share {
    @media (min-width : 768px) {
        width: 50%;
    }

    &-title {
        font-family: $font-main;
        font-size: 1.6rem;
        font-weight: bold;
        color: $color-secondary;
        text-align: center;
    }
}


.icons-container {
    display: flex;
    justify-content: center;
    margin: 1rem;

}

.start-again-link {
    width: 65%;
        background-color: $color-secondary;
        border: none;
        border-radius: 2.5rem;
        font-family: $font-main;
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1.3rem 2rem;
        margin: 1rem auto 2rem;
        display: flex;
        justify-content: center;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);

        &:hover {
            background-color: $color-main;
            color: $color-secondary;
            cursor: pointer;
        }

        @media (min-width : 768px) {
            margin-top: 3rem;
            width: 60%;
        }
}