.section-form{
    width: 100%;
    padding: 1rem 3.5rem;
    background: linear-gradient($color-complementary, $color-main);

    @media (min-width : 768px){
        width: 50%;
    }

    @media (min-width : 1200px){
        width: 40%;
    }
}

.create-form{    
    font-family: $font-main;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;

    &_legend{
        text-align: center;
        font-weight: bold;
        color: white;
        padding: 0.8rem 2rem;
    }

    &_label{
        font-size: 1.6rem;
        display: block;
        margin-top: 1rem;
        padding: 0.5rem 2rem;
        cursor: pointer;
    }

    &_option-select{
        width: 100%;
        padding: 1.2rem 2rem;
        border: none;
        border-radius: 2rem;
        display: block;
        margin: 0.8rem 0;
        font-family: $font-main;
        background-image: url('/images/star.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-size: 2rem;
        padding-left: 4rem;

        &:focus{
            outline: none;
            border: 2px solid $color-complementary;
        }
    }

    &_input{
        box-sizing: border-box;
        width: 100%;
        display: block;
        padding: 1.2rem 2rem;
        margin: 0.8rem 0;
        border-radius: 2rem;
        border-style: none;
        font-family: $font-main;
        background-image: url('/images/star.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-size: 2rem;
        padding-left: 4rem;
        color: $color-secondary;

        &:focus{
            outline: none;
            border: 2px solid $color-complementary;
        }
    }

    &_buttons{
        @media (min-width : 1200px) {
            display: flex;
            justify-content: space-around;
        }
    }

    &_reset-input{
        width: 80%;
        background-color: $color-complementary;
        border: none;
        border-radius: 2.5rem;
        color: white;
        font-family: $font-main;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1.6rem 3.2rem;
        margin: 1rem 10%;
        cursor: pointer;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4);

        @media (min-width : 1200px){
            font-size: 1.4rem;
            padding: 1.4rem 2rem;
            margin: 1rem 2%;
            width: 40%;
        }
    }

    &_create-btn{
        width: 80%;
        background-color: $color-secondary;
        border: none;
        border-radius: 2.5rem;
        font-family: $font-main;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1.6rem 3.2rem;
        margin: 1rem 10%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4);

        @media (min-width : 1200px){
            font-size: 1.3rem;
            padding: 1.4rem 2rem;
            margin: 1rem 2%;
            width: 40%;
        }

        & a{
            color: white;
            text-decoration: none;
            line-height: 2rem;
        }
    }
}

.Img-upload-input{
    display: none;
}

.Img-upload-label{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 1.2rem 2rem;
    margin: 0.8rem 0;
    border-radius: 2rem;
    border-style: none;
    font-family: $font-main;
    background-image: url('/images/star.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 2rem;
    padding-left: 4rem;
    font-size: 1.4rem;

    &:focus {
        outline: none;
        border: 2px solid $color-complementary;
    }
}

//JS class
.collapsed-form{
    display: none;
}

.arrow{
    width: 1.5rem;
}

<<<<<<< HEAD
.result-link{
    color: white;
    margin-left: 40px;
   
}

=======
>>>>>>> c2dd0e0bfff29d17450fed7fb62600d55d8c5020
.hidden-link{
    display: none;
}