<section class="section">
    <article class="section_card {=$color}">
        <img class="section_card-img" src="{=$image}"> 
        <h3 class="section_card-title">&lt;{=$name}&gt;</h3>
        <div class="section_card-container">
            <p class="card-paragraph">Tutorías solicitadas <span class="card-span">{=$tutoring}</span></p>
            <p class="card-paragraph">La reina de... <span class="card-span">{=$queen}</span></p>
            <p class="card-paragraph">Ha descubierto que... <span class="card-span">{=$discover}</span></p>
            <p class="card-paragraph">Si fuera código sería...</p>
        </div>
        <button class="code cursor"><span class="card-span">{=$code}</span></button>
    </article>
</section>