<header class="header">

  <div class="logo-titulo">
  <img src="./images/logo.png" 
  alt="logo" 
  class="logo-adalaber">
</div>

  <nav>
    <div class="menu-hamburger js-hamburger" >
      <a href="#">
      <img src="./images/menu-icon.png"    alt="icon-hamburger" class="icon-hamburger" ></a>
     
      
    </div>

      <ul class="menu js-menu">
        <li class="home">
          <a href="./index.html">Home</a></li>

       <li class="crear">
        <a href="./create.html">Crear</a></li>

        <li class="Nosotras">Nosotras</li>
      </ul>
  </nav>
</header>
