<main class="landing">
  <div class="landing_title">
    <h1>¿Qué Adalaber eres hoy?</h1>
    <h2>Crea y comparte tu tarjeta de personaje Adalaber</h2>
  </div>


  <section class="landing_desc">

    <load src="/partials/articles.html" articleClass="landing_desc-circle" imgUrl="/images/CircleMobile.png" imgDesc="Círculo con tres iconos y las palabras diseña rellena y comparte" />
    
    <load src="/partials/articles.html" articleClass="articleDisplay" imgUrl="/images/Diseña.png" imgDesc="Círculo con un icono de una cabeza de perfil y una bombilla en su parte trasera" circleTitle="Diseña" />
      
    <load src="/partials/articles.html" articleClass="articleDisplay" imgUrl="/images/Rellena.png" imgDesc="Círculo con un icono de una hoja con líneas y un lápiz" circleTitle="Rellena" /> 

    <load src="/partials/articles.html" articleClass="articleDisplay" imgUrl="/images/Comparte.png" imgDesc="Círculo con un icono de dos bocadillos rellenos de líneas imitando una conversación" circleTitle="Comparte" /> 
        
  </section>

  <div class="landing_button">
    <a href="./create.html">¡Empieza aquí!</a>
  </div>
  
</main>


