<main class="landing">
  <div class="landing_title">
    <h1>¿Qué Adalaber eres hoy?</h1>
    <h2>Crea y comparte tu tarjeta de personaje Adalaber</h2>
  </div>


  <section class="landing_desc">
  <load src="/partials/articles.html" imgUrl="/images/CircleMobile.png" imgDesc="Círculo con tres iconos y las palabras diseña rellena y comparte" circleTitle="skhfbjsd"> 
  <load src="/partials/articles.html" imgUrl="" imgDesc="" circleTitle="Diseña">
  <load src="/partials/articles.html" imgUrl="" imgDesc="" circleTitle="Rellena"> 
  <load src="/partials/articles.html" imgUrl="" imgDesc="" circleTitle="Comparte"> 
  
  </section>

  <div class="landing_button">
    <a href="./create.html">¡Empieza aquí!</a>
  </div>
  
</main>
