<section class="section-form">
    <form action="" class="create-form js-form">
        <h3 class="create-form_legend js-design-collapse">Diseña <span class=" arrow js-arrow1">⩔</span></h3>
        <fieldset class="js-fieldset-design">
            <!-- <legend class="create-form_legend">Diseña</legend> -->
            <label for="">foto</label>
                <input type="file" class="js__profile-upload-btn" id="photo">

            <label for="color-option">color</label>
                <select name="color-option" id="field2" class="create-form_option-select js-colorOp">
                    <option value="color-default">Elige un color de fondo</option>
                    <option value="option1">Orange JS</option>
                    <option value="option2">Purple HTML</option>
                    <option value="option3">Green Sass</option>
                    <option value="option4">Blue CSS</option>
                </select>
            
                <label for="font-option">Font Style</label>
                <select name="font-option" id="field7" class="create-form_option-select js-fontOp">
                    <option value="font-default">Elije un estilo de texto</option>
                    <option value="option1">JetBrains Mono</option>
                    <option value="option2">Fira Code</option>
                    <option value="option3">Open Sans</option>
                </select>
            
        </fieldset>
        <h3 class="create-form_legend js-fill-collapse">Rellena <span class="arrow js-arrow2">⩔</span></h3>
        <fieldset class="js-fieldset-fill">
            <!-- <legend class="create-form_legend">Rellena</legend> -->
            <label for="name">Nombre</label>
                <input type="text" placeholder="Ms.Adalaber" id="field3" name="name" class="create-form_input"/>
            <label for="tutoring-session">Tutorías solicitadas</label>
                <input type="number" placeholder="1,000,000" id="field1" name="tutoring-session" class="create-form_input"/>
            <label for="queen-of">La reina de ...</label>
                <input type="text" placeholder="algo que te sale muy bien" id="field4" name="queen-of" class="create-form_input"/>
            <label for="curiosity" >Ha descubierto que ...</label>
                <input type="text" placeholder="una curiosidad" id="field5" name="curiosity" class="create-form_input"/>
            <label for="code">Si fuera código sería ...</label>
                <input type="text" placeholder="una codigo que te represente" id="field6" name="code" class="create-form_input"/>
        </fieldset>
        <h3 class="create-form_legend js-create-collapse">Crea <span class="arrow js-arrow3">⩔</span></h3>
        <fieldset class="create-form_buttons js-fieldset-create">
            <!-- <legend class="create-form_legend">Crea</legend> -->

            <div class="create-form_create-btn js-create-btn">
                <a href="#">Genera tu tarjeta </a>
            </div>

            <input type="reset" value="Empieza de nuevo" class="create-form_reset-input"/>
            
        
        </fieldset>
    </form>
</section>