<section>
    <form action="">
        <fieldset>
            <legend>diseña</legend>
            <label for="">color</label>
                <select name="" id="">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                    <option value="">option 3</option>
                </select>
            <label for="">foto</label>
                <input type="file">
        </fieldset>

        <fieldset>
            <legend>Rellena</legend>
            <label for="">Nombre</label>
                <input type="text">
            <label for="">Tutorias solicitadas</label>
                <input type="number">
            <label for="">La reina de ...</label>
                <input type="text">
            <label for="">Ha descubierto que ...</label>
                <input type="text">
            <label for="">Si fuera codigo seria ...</label>
                <input type="text">
        </fieldset>

        <fieldset>
            <legend>Comparte</legend>
            <load src="/partials/button-share.html" />
            <load src="/partials/button-reset.html" />
        </fieldset>
    </form>
</section>