<section class="section_preview">
    <article class="section_preview-card js-card-color">
        <img class="preview_card-img js-preview-img" src="https://img.freepik.com/vector-gratis/linda-chica-hacker-operando-laptop-dibujos-animados-vector-icono-ilustracion-personas-tecnologia-aislada-plana_138676-9487.jpg" alt="dibujo mujer con ordenador"> <!-- temporal img -->
        <h3 class="preview_card-title js-preview-title">&lt;Aquí un nombre&gt;</h3><!--temporal name-->
        <p class="preview_card-tutoring preview_card-paragraph js-preview-tutoring">Tutorías solicitadas</p>
        <p class="preview_card-queen preview_card-paragraph js-preview-queen">La reina de...</p>
        <p class="preview_card-discover preview_card-paragraph js-preview-discover">Ha descubierto que...</p>
        <p class="preview_card-code preview_card-paragraph js-preview-code">Si fuera código sería...</p>
    </article>
</section>