<section class="section_preview">
    <article class="section_preview-card">
        <img class="preview_card-img" src="https://img.freepik.com/vector-gratis/linda-chica-hacker-operando-laptop-dibujos-animados-vector-icono-ilustracion-personas-tecnologia-aislada-plana_138676-9487.jpg" alt="dibujo mujer con ordenador"> <!-- temporal img -->
        <h3 class="preview_card-title">&lt;Aquí un nombre&gt;</h3><!--temporal name-->
        <p class="preview_card-tutoring preview_card-paragraph">Tutorías solicitadas</p>
        <p class="preview_card-queen preview_card-paragraph">La reina de...</p>
        <p class="preview_card-discover preview_card-paragraph">Ha descubierto que...</p>
        <p class="preview_card-code preview_card-paragraph">Si fuera código sería...</p>
        <button class="card_code">código</button>
    </article>
</section>