<section class="section_preview">
    <article class="section_preview-card js-card-color">
        <img class="preview_card-img js-preview-img" src="https://img.freepik.com/vector-gratis/linda-chica-hacker-operando-laptop-dibujos-animados-vector-icono-ilustracion-personas-tecnologia-aislada-plana_138676-9487.jpg" alt="dibujo mujer con ordenador"> <!-- temporal img -->
        <h3 class="preview_card-title">&lt;<span class="js-preview-title">Ms.Adalaber</span>&gt;</h3><!--temporal name-->
        <div class="preview_paragraph-container">
            <p class="preview_card-tutoring preview_card-paragraph">Tutorías solicitadas <span class="js-preview-tutoring"></span></p>
            <p class="preview_card-queen preview_card-paragraph">La reina de... <span class="js-preview-queen"></span></p>
            <p class="preview_card-discover preview_card-paragraph">Ha descubierto que... <span class="js-preview-discover"></span></p>
            <p class="preview_card-code preview_card-paragraph">Si fuera código sería...</p>
        </div>
        <button class="card_code js-preview-code cursor">CODE</button>
    </article>
</section>